pipeline/variable2 practise.json
{
	"name": "variable2 practise",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country from address_com",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"tbl_name": "address_com"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Country_list",
								"value": {
									"value": "@item().country",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Final_list",
								"value": {
									"value": "@variables('Country_list')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Country_list": {
				"type": "Array"
			},
			"Final_list": {
				"type": "Array"
			},
			"input_var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-24T17:04:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}